@overview-border-light-gray: #ededed;
@overview-border-gray: #d6d6d6;
@shield-bgcolor:       #ebebeb;
@shield-border-color:  @overview-border-gray;
@shield-width:         36px;

.overview {
  font-weight: 300;
  h2 {
    line-height: 1.4;
  }
  .service-group {
    border-left: 3px solid #00b9e4;
    margin-bottom: 20px;
    .alert-wrapper {
      width: 100%;
      padding-right: 5px;
      .alert {
        width: 100%;
        border-color: @overview-border-gray;
        margin-bottom: 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        .pficon {
          box-shadow: none;
          //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
        .close {
          color: #8b8d8f;
        }
      }
      // @media (min-width: @screen-sm-min) {
      //   width: 50%;
      // }
    }
    // @media (min-width: @screen-sm-min) {
    //   .odd-alert {
    //     padding-right: 10px;
    //   }
    //   .even-alert {
    //     padding-right: 5px;
    //   }
    // }
  }
  .service-group-header, .deployment-tile, .overview-pipeline {
    background-color: #ffffff;
    border: 1px solid @overview-border-gray;
    border-left-width: 0;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .standalone-service {
    width: 100%;
    @media (min-width: @screen-sm-min) {
      width: 50%;
      // FIXME: magic number, why 13px?
      padding-right: 13px;

      // .alert-wrapper {
      //   width: 100%;

      //   &.odd-alert {
      //     padding-right: 5px;
      //   }
      // }
    }
  }
  .service-group-header {
    justify-content: space-between;
    padding: 10px;
    .route-title {
      line-height: 1.4;
      // Margin at mobile if there is an app name. The route is stacked below the app name.
      margin: 10px 0 0 6px;
      &:only-child {
        // Margin without app name.
        margin: 0;
      }
      @media (min-width: @screen-sm-min) {
        // At wider screen widths, always 0 margin.
        margin: 0;
      }
    }
    .app-name {
      .h3();
      .truncate();
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
    }
  }
  .overview-pipeline {
    border-top-width: 0;
    .overview-pipeline-details {
      flex-wrap: wrap;
    }
    .build-name, .build-phase {
      padding: 5px 10px;
      border-right: 1px solid @overview-border-gray;
    }
    .stage {
      display: inline-block;
      .stage-duration {
        .text-muted();
        margin-left: 5px;
      }
    }
    .stage + .stage {
      &:before {
        background-color: #cccccc;
        content: '';
        display: inline-block;
        height: 1px;
        width: 10px;
        position: relative;
        top: -3px;
        left: 1px;
        margin: 0 2px;
      }
    }
    .incomplete-stage {
      margin-left: 5px;
    }
    .pipeline-status .fa-stack {
      display: inline-block;
      margin-top: -4px;
    }
    .log-link, .stages {
      padding: 5px 10px;
    }
    // .circle-text {
    //   font-size: 9px;
    //   padding: 2px 3px;
    //   display: inline-block;
    //   border-radius: 50px;
    //   box-shadow: 0px 0px 1px #030303;
    //   margin-left: 5px;
    //   vertical-align: middle;
    // }
    .timestamp {
      .text-muted();
      .pull-right();
    }
    .log-link {
      border-left: 1px solid @overview-border-gray;
    }
  }
  .service-group-body {
    border-top-width: 0;
    margin-top: 10px;
    padding: 0;
    .overview-services {
      flex-wrap: wrap;
      // Put margins between the services, but make them flush with the left
      // border even when they wrap.
      margin-left: -10px;
      .deployment-tile {
        margin-left: 10px;
      }
    }
  }
  .component-label {
    .text-muted();
    font-size: @component-label;
    padding: 0 10px 4px 0;
    text-transform: uppercase;
  }
  .build-pipeline {
    flex: 1;
    // Avoid double borders inside the panel.
    margin: -1px;
    .build-summary {
      flex-grow: 1;
      @media (min-width: @screen-md-min) {
        flex-grow: 0;
      }
    }
  }
  .service-title {
    .text-muted();
    align-items: flex-end;
    border-bottom: 1px solid @overview-border-gray;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .deployment-tile {
    border-left: 1px solid @overview-border-gray;
    .deployment-header {
      position: relative;
    }
    .rc-header {
      padding: 5px 10px;
    }
    .deployment-body {
      flex-direction: column;
      padding: 10px;
      .deployment-donut {
        align-items: center;
      }
      @media (min-width: @screen-lg-min) {
        flex-direction: row;
        .metrics-usage {
          width: 150px;
        }
      }
    }
    .deployment-body, .overview-donut, .overview-metrics {
      align-items: center;
    }
    .overview-metrics {
      max-width: 100%;
      @media (max-width: @screen-xs-max) {
        margin: 0 auto;
      }
    }
    @media (min-width: @screen-lg-min) {
      .overview-metrics {
        order: 1;
        flex-basis: 60%;
      }
      .overview-donut {
        order: 2;
        flex-basis: 40%;
      }
    }
    .deployment-tile {
      @media (min-width: @screen-sm-min) {
        max-width: 50%;
      }
      @media (min-width: @screen-lg-min) {
        max-width: 650px;
      }
    }
  }
  .no-child-services-block {
    .h4();
    .text-muted();
    margin-left: 10px;
    padding: 0 10px;
    width: 50%;
  }
  .standalone-service .no-child-services-message {
    display: none;
  }
  .shield {
    background: @shield-bgcolor;
    border: 1px solid @shield-border-color;
    border-bottom: 0;
    width: @shield-width;
    position: absolute;
    align-items: center;
    right: 15px;
    top: -1px;
    .shield-number {
      height: 30px;
      position: relative;
      width: @shield-width;
      align-items: center;
      justify-content: center;
    }
    .shield-number:before {
      border-left: (@shield-width / 2) solid transparent;
      border-right: (@shield-width / 2) solid transparent;
      border-top: 10px solid @shield-border-color;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      bottom: -10px;
      width: 0;
    }
    .shield-number:after {
      border-left: (@shield-width / 2) solid transparent;
      border-right: (@shield-width / 2) solid transparent;
      border-top: 10px solid @shield-bgcolor;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      bottom: -9px;
      width: 0;
    }
  }
}
