.overview {
  .overview-service {
    .mar-bottom-lg();
    border-left: 3px solid #cccccc;
    overflow: hidden;
  }
  .service-heading, .service-body {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
  }
  .service-heading {
    padding: 7px 10px;
    .service-title {
      margin: 0 0 5px;
    }
  }
  .service-body {
    border-top-width: 0;
    padding: 0;
  }
  .component-label {
    .text-muted();
    font-size: @component-label;
    padding: 0 10px 4px 0;
    text-transform: uppercase;
  }
  .build-pipeline {
    flex: 1;
    // Avoid double borders inside the panel.
    margin: -1px;
    .build-summary {
      flex-grow: 1;
      @media (min-width: @screen-md-min) {
        flex-grow: 0;
      }
    }
  }
  .child-border {
    .mar-bottom-lg();
    border-left: 2px dotted #bbbbbb;
  }
  .child-service .overview-service {
    .mar-left-lg();
  }
  .deployment-block {
    justify-content: space-between;
    .deployment-pipeline-details {
      align-items: stretch;
      margin: 10px 5px;
      h3 {
        margin: 0;
      }
      .deployment-summary {
        margin-right: 10px;
      }
      .metrics-col {
        align-items: center;
        flex-grow: 1;
      }
    }
    @media (max-width: 480px) {
      flex-grow: 1;
      .deployment-donut {
        .text-center();
        order: 2;
      }
      .deployment-details {
        order: 3;
      }
    }
  }
}
