.overview {
  .overview-service {
    .mar-bottom-lg();
    border-left: 3px solid #cccccc;
  }
  .service-heading, .service-body {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
  }
  .service-heading {
    padding: 7px 10px;
    .service-title {
      margin: 0 0 5px;
    }
  }
  .service-body {
    margin: 10px 0;
    padding: 0;
  }
  .component-label {
    .text-muted();
    font-size: @component-label;
    padding: 0 10px 4px 0;
    text-transform: uppercase;
  }
  .build-pipeline {
    flex: 1;
    // // Avoid double borders inside the panel.
    // .build-summary {
    //   border-width: 0;
    //   border-right-width: 1;
    // }
    // .stages-block {
    //   border-top-width: 0;
    //   border-bottom-width: 0;
    // }
  }
  .deployment-donut {
    .text-center();
    margin-top: 3px;
    min-width: 200px;
    max-width: 200px;
  }
  .child-border {
    .mar-bottom-lg();
    border-left: 2px dotted #bbbbbb;
  }
  .child-service .overview-service {
    .mar-left-lg();
  }
}
