//
//  System status extension point
//  -----------------------------------------------

// Always show system-status if it exists
[extension-name="nav-system-status"] {
  display: block !important;
  .nav-item-iconic {
    @media(max-width: @screen-xs-max) {
      padding: 10px 15px 10px 5px !important;
    }
  }
}

.status-issue {
  display: none;
  font-weight: 300;
  max-width: 100px;
  padding: 0 0 0 5px;
  position: relative;
  top: -2px;
  // 900px is the minimum required to display the status-issue description
  // under the following conditions:
  //   * #header-logo with width of 320px (OCP);
  //   * a username that exceeds 200px in width
  @media(min-width: 900px) {
    display: inline;
  }
}
