<div class="list-pf-item" ng-class="{ active: row.isExpanded() }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <span ng-if="row.isExpanded()">
        <span class="fa fa-angle-down"></span>
      </span>
      <span ng-if="!row.isExpanded()">
        <span class="fa fa-angle-right"></span>
      </span>
    </div>
    <div ng-include src=" 'views/overview/_list-row-content.html' " class="list-pf-content"></div>
    <div ng-include src=" 'views/overview/_list-row-actions.html' "></div>
  </div>
  <div class="list-pf-expansion collapse" ng-if="row.isExpanded()" ng-class="{ in: row.isExpanded() }">
    <div ng-include src=" 'views/overview/_list-row-expanded.html' "></div>
  </div>
</div>
