<div row class="deployment-header">
  <div column>
    <a ng-if="dcName" ng-href="{{deployment | navigateResourceURL}}" class="subtle-link">#{{deployment | annotation: 'deploymentVersion'}}</a>
    <a ng-if="!dcName" ng-href="{{deployment | navigateResourceURL}}" class="subtle-link">{{deployment.metadata.name}}</a>
  </div>
  <div column class="text-muted">
    <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
  </div>
</div>
<div row class="donut-row">
  <deployment-donut
      rc="deployment"
      deployment-config="deploymentConfigs[(deployment | annotation : 'deploymentConfig')]"
      pods="podsByDeployment[deployment.metadata.name]"
      hpa="getHPA(deployment.metadata.name, (deployment | annotation : 'deploymentConfig'))"
      limit-ranges="limitRanges"
      scalable="isScalableDeployment(deployment, deploymentConfigs, hpaByDc, hpaByRc, scalableDeploymentByConfig)"
      alerts="alerts">
  </deployment-donut>
</div>
<div row class="metrics-row">
  <metrics deployment="deployment" profile="compact"></metrics>
</div>
