<div row mobile="column" class="deployment-pipeline-details">
  <div column grow="1" class="deployment-pipeline-details-block"
    ng-init="dcName = (deployment | annotation : 'deploymentConfig')">
      <div class="text-muted">
        <h3 ng-if="dcName">
          Deployment {{dcName}},
          <a ng-href="{{deployment | navigateResourceURL}}" class="subtle-link">#{{deployment | annotation: 'deploymentVersion'}}</a>
        </h3>
        <h3 ng-if="!dcName" class="component-label">
          Replication Controller {{deployment.metadata.name}}
        </h3>
      </div>

      <metrics deployment="deployment"
          hide-time-range-select="true"
          hide-labels="true"
          hide-axis="true"
          sparkline-width="200"
          sparkline-height="50"></metrics>
  </div>
</div>
