<div row tablet="column" class="deployment-pipeline-details" ng-init="dcName = (deployment | annotation : 'deploymentConfig')">
  <div column class="deployment-summary">
    <h3 class="text-muted">
      <span ng-if="dcName">
        {{dcName}},
        <a ng-href="{{deployment | navigateResourceURL}}" class="subtle-link">#{{deployment | annotation: 'deploymentVersion'}}</a>
      </span>
      <span ng-if="!dcName">
        {{deployment.metadata.name}}
      </span>
    </h3>
    <div class="small text-muted">
      <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
    </div>
    <pod-template pod-template="deployment.spec.template"></pod-template>
  </div>
  <div column class="metrics-col">
    <metrics deployment="deployment" profile="compact"></metrics>
  </div>
</div>
