<div ng-repeat="metric in metrics"
     ng-if="anyUsageByMetric(metric) && !metricsError"
     class="metrics-compact animate-repeat">
  <div ng-attr-id="{{metric.chartPrefix + uniqueID}}-sparkline" class="metrics-sparkline"></div>
  <div class="metrics-usage">
    <div class="usage-value">
      <span ng-repeat="dataset in metric.datasets">
        <span ng-if="!$first">/</span>
        {{usageByMetric[dataset.id].used}}
        <span ng-if="dataset.iconClass"
              ng-class="dataset.iconClass"
              class="small text-muted"
              aria-hidden="true">
        </span>
      </span>
    </div>
    <div class="usage-label">
      {{metric.units | capitalize}} {{metric.label}}
    </div>
  </div>
</div>
