<div row ng-repeat="metric in metrics" ng-if="anyUsageByMetric(metric) && !metricsError" class="metrics-compact">
  <div column ng-attr-id="{{metric.chartPrefix + uniqueID}}-sparkline" class="metrics-sparkline"></div>
  <div column class="metric-usage">
    <small class="text-muted">{{metric.label}}</small>
    <h2 class="metric-usage">
      <span ng-repeat="dataset in metric.datasets">
        <span ng-if="!$first">/</span>
        {{usageByMetric[dataset.id].used}}
        <span ng-if="dataset.iconClass"
              ng-class="dataset.iconClass"
              class="small text-muted"
              aria-hidden="true">
        </span>
      </span>
      <small>{{metric.units}}</small>
    </h2>
  </div>
</div>
