<div class="service-group">
  <div row tablet="column" class="service-group-header"
       ng-if="service.metadata.labels.app || displayRoute"
       ng-click="toggleCollapse()">
    <div ng-if="service.metadata.labels.app" class="app-name">
      <span class="mar-right-sm">
        <i class="fa fa-angle-down fa-fw" aria-hidden="true" ng-if="!collapse"></i>
        <i class="fa fa-angle-right fa-fw" aria-hidden="true" ng-if="collapse"></i>
      </span>
      {{service.metadata.labels.app | startCase}}
    </div>
    <h4 class="route-title truncate">
      <i class="fa fa-external-link mar-right-sm small" aria-hidden="true"></i>
      <a ng-if="displayRoute | isWebRoute"
         ng-href="{{displayRoute | routeWebURL}}">{{displayRoute | routeLabel}}</a>
      <span ng-if="!(displayRoute | isWebRoute)">{{displayRoute | routeLabel}}</span>
        <span ng-if="routeWarnings && routes.length === 1">
          <route-warnings warnings="routeWarnings"></route-warnings>
        </span>
      </span>
    </h4>
  </div>
  <!-- <div ng-if="displayRoute" class="service-group-header"> -->
  <!--   <div class="pull-right text-muted"> -->
  <!--     Route: -->
  <!--     <a ng-href="{{displayRoute | navigateResourceURL}}">{{displayRoute.metadata.name}}</a> -->
  <!--   </div> -->
  <!--   <h2 class="route-title truncate"> -->
  <!--     <a ng-if="displayRoute | isWebRoute" -->
  <!--        ng-href="{{displayRoute | routeWebURL}}">{{displayRoute | routeLabel}}</a> -->
  <!--     <span ng-if="!(displayRoute | isWebRoute)">{{displayRoute | routeLabel}}</span> -->
  <!--       <span ng-if="routeWarnings && routes.length === 1"> -->
  <!--         <route-warnings warnings="routeWarnings"></route-warnings> -->
  <!--       </span> -->
  <!--     </span> -->
  <!--   </h2> -->
  <!--   <div ng-if="routeWarnings && routes.length > 1" class="small text-muted"> -->
  <!--     <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span> -->
  <!--     This service has <a ng-href="project/{{service.metadata.namespace}}/browse/routes">routes</a> with warnings. -->
  <!--   </div> -->
  <!-- </div> -->
  <div class="collapse" uib-collapse="collapse">
    <div ng-repeat="dc in deploymentConfigs">
      <div row mobile="column" ng-repeat="pipeline in recentPipelines[dc.metadata.name] | orderObjectsByDate : true track by (pipeline | uid)">
        <div column grow="4">
          <build-pipeline flex build="pipeline"></build-pipeline>
        </div>
      </div>
    </div>
    <div class="service-group-body">
      <div row mobile="column" class="overview-services">
        <overview-service
            column
            grow="1"
            service="service"
            deployment-configs="deploymentConfigsByService[service.metadata.name]"
            deployments="deploymentsByService[service.metadata.name]"
            recent-pipelines="recentPipelines"
            pipelines-by-deployment="pipelinesByDeployment"
            pods-by-deployment="podsByDeployment",
            hpa-by-dc="hpaByDc"
            hpa-by-rc="hpaByRc"
            scalable-deployment-by-config="scalableDeploymentByConfig">
        </overview-service>
        <overview-service
            ng-repeat="child in childServices"
            column
            grow="1"
            service="child"
            deployment-configs="deploymentConfigsByService[child.metadata.name]"
            deployments="deploymentsByService[child.metadata.name]"
            recent-pipelines="recentPipelines"
            pipelines-by-deployment="pipelinesByDeployment"
            pods-by-deployment="podsByDeployment"
            class="child-service"
            hpa-by-dc="hpaByDc"
            hpa-by-rc="hpaByRc"
            scalable-deployment-by-config="scalableDeploymentByConfig">
        </overview-service>
      </div>
      <!-- hide for now... ->
      <div class="mar-md hidden">
        <div class="alert alert-info">
          <span class="pficon pficon-info" aria-hidden="true"></span>
          Important information about your application appears here.
        </div>
      </div>
    </div>
  </div>
</div>
